{% extends 'temp.html' %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
{% endblock %}
{% block body %}

<!-- <img id="heroimg" src="{{url_for('static', filename='logo1.png')}}" alt=""> -->
<div class="headTitle">
    <div class="imageLogo">
        <img id="logo" src="{{url_for('static', filename='images/logo.png')}}" alt="">
    </div>
    <div class="titles">
        <h1 id="title">Quotei API</h1>
        <h5>Quotes For Any Occasion</h5>
    </div>
</div>
<div class="buttonsGroup">
    <a href="/docs">
        <button class="button btn1">Documentation</button> </button>
    </a>
    <a href="https://github.com/GNVageesh/quotei">
        <button class="button btn2">GitHub Repository</button> </button>
    </a>
    <a href="/api/v1/res/all">
        <button class="button btn3">Check API Page</button> </button>
    </a>
</div>
<!-- Scripts-->
<script>
</script>
{% endblock %}