<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vivid Quotes</title>
    <style>
        body {
            background-color: black;
        }

        .topbar {
            color: aliceblue;
            text-align: center;
            font-family: 'consolas';
        }
    </style>
</head>

<body>
    <!-- Complete the UI Design-->
    <div class="topbar">
        <h1>Vivid Quotes API</h1>
        <p>An API for vivid quotes to every occasion</p>
    </div>
</body>

</html>